# Node modules
node_modules/

# Build output
dist/
out-tsc/

# Angular cache
.angular/

# Environment
.env
.env.local

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
